BasedOnStyle: LLVM

IndentWidth: 2

Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Leave

AccessModifierOffset: -2

SeparateDefinitionBlocks: Always

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignTrailingComments: Always

AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma

ColumnLimit: 80

Cpp11BracedListStyle: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Leave

KeepEmptyLinesAtTheStartOfBlocks: false

LambdaBodyIndentation: Signature

SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false

# LineEnding: LF

NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true

IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWrappedFunctionNames: true

